.card-header{
    font-size: 50px;
    margin-bottom: 30px;
}
.card {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    max-width: 600px;
    padding: 30px 40px;
    
}
.card-body {
    min-height: 100px;
    display: flex;
    font-size: 25px;
}
#answer{
    margin-top: 15px;
    margin-bottom: 15px;
}
header {
    text-align: center;
    font-size: 35px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}
.scoreboard {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 30%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
    position: absolute;
    right: 5rem;
    top: 15rem;
  }
#score {
    appearance: none;
    border: none;
    display: block;
    width: 30%;
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: -50px;
    border: 2px transparent;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}
#time {
    appearance: none;
    border: none;
    display: block;
    width: 30%;
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: -50px;
    border: 2px transparent;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}
.restart {
    font-size: 40px;
    background-color: transparent;
    border: 2px solid #c0c7cf;
    border-radius: 6px;
}
button:hover {
    background-color: red;
    color: white;
}
@media (max-width: 20px) {
    .scoreboard {
        display: flex;
    }
    .card {
        font-size: 50%;
    }
}